<div class="desk-one-whole grid-item box full-box directorio">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon equipo"></i></div>
    <h3>Equipo</h3>
  </div>
  <div class="box-body">
    <div class="desk-one-whole">
      <ul class="directorio-list">
        <li class="slide desk-one-quarter texto-centrado grid-item"><img src='/static/images/xime.png' alt="Usuario Nombre">
          <p class="departamento">laboratorio</p>
          <p class="puesto">Directora</p>
          <p><strong>Ximena Íñigo</strong></p>
          <p>ximena@kamikazelab.com</p>
          <p>@ximen000 | (55) 5404 1485</p>
          <p>Cumple:12-04 | Entró: 07-07-10</p>
          <div class="desk-one-whole">
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon home"></i>
            </div>
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon vacacion"></i>
            </div>
          </div>
        </li>
        <li class="slide desk-one-quarter texto-centrado grid-item"><img src='/static/images/xime.png' alt="Usuario Nombre">
          <p class="departamento">laboratorio</p>
          <p class="puesto">Directora</p>
          <p><strong>Ximena Íñigo</strong></p>
          <p>ximena@kamikazelab.com</p>
          <p>@ximen000 | (55) 5404 1485</p>
          <p>Cumple:12-04 | Entró: 07-07-10</p>
          <div class="desk-one-whole">
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon home"></i>
            </div>
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon vacacion"></i>
            </div>
          </div>
        </li>
        <li class="slide desk-one-quarter texto-centrado grid-item"><img src='/static/images/xime.png' alt="Usuario Nombre">
          <p class="departamento">laboratorio</p>
          <p class="puesto">Directora</p>
          <p><strong>Ximena Íñigo</strong></p>
          <p>ximena@kamikazelab.com</p>
          <p>@ximen000 | (55) 5404 1485</p>
          <p>Cumple:12-04 | Entró: 07-07-10</p>
          <div class="desk-one-whole">
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon home"></i>
            </div>
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon vacacion"></i>
            </div>
          </div>
        </li>
        <li class="slide desk-one-quarter texto-centrado grid-item"><img src='/static/images/xime.png' alt="Usuario Nombre">
          <p class="departamento">laboratorio</p>
          <p class="puesto">Directora</p>
          <p><strong>Ximena Íñigo</strong></p>
          <p>ximena@kamikazelab.com</p>
          <p>@ximen000 | (55) 5404 1485</p>
          <p>Cumple:12-04 | Entró: 07-07-10</p>
          <div class="desk-one-whole">
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon home"></i>
            </div>
            <div class="desk-one-half grid-item resumen">
              <p>5 de 10</p><i class="icon vacacion"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
