<div class="desk-one-whole grid-item box full-height">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon historial"></i></div>
    <h3>Historial</h3>
  </div>
  <div class="box-body">
    <table class="historial">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Fechas</th>
          <th>Periodo</th>
          <th>Status</th>
          <th>Aprobado por</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="icon home">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
        <tr>
          <td><i class="icon vacacion">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
        <tr>
          <td><i class="icon imprevisto">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
        <tr>
          <td><i class="icon home">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
        <tr>
          <td><i class="icon vacacion">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
        <tr>
          <td><i class="icon imprevisto">
              <td>Viernes - 10/Mayo/13</td>
              <td>01/2013</td>
              <td>Aceptada</td>
              <td>Pamela Treviño</td></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
