
<div class="desk-one-third grid-item box ausencias">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon home"></i></div>
    <h3>Home Office</h3>
  </div>
  <div class="box-body texto-centrado">
    <div class="indicador-circular">
      <canvas id="homeOffice" width="114" height="114" porcentaje="90" class="progress"></canvas>
      <div class="icon icon-home"></div>
    </div>
    <p>Tomados 5 de 6</p>
    <div class="ausencia-fecha home">
      <div class="selector grid-item small">
        <select name="select-day">
          <option value="1" selected="">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
        </select>
      </div>
      <div class="selector grid-item medium">
        <select name="select-month">
          <option value="enero" selected="">Enero</option>
          <option value="febrero">Febrero</option>
          <option value="marzo">Marzo</option>
        </select>
      </div>
      <div class="selector grid-item medium last">
        <select name="select-year">
          <option value="enero" selected="">1900</option>
          <option value="febrero">2000</option>
          <option value="marzo">2010</option>
        </select>
      </div>
    </div>
    <button class="boton bottom">Pedir Home Office</button>
  </div>
</div>

<div class="desk-one-third grid-item box ausencias">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon vacacion"></i></div>
    <h3>Vacaciones</h3>
  </div>
  <div class="box-body texto-centrado">
    <div class="indicador-circular">
      <canvas id="vacacion" width="114" height="114" porcentaje="30" class="progress"></canvas>
      <div class="icon icon-vacaciones"></div>
    </div>
    <p>Tomados 3 de 10</p>
    <div class="ausencia-fecha">
      <div class="selector grid-item small">
        <select name="select-day">
          <option value="1" selected="">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
        </select>
      </div>
      <div class="selector grid-item medium">
        <select name="select-month">
          <option value="enero" selected="">Enero</option>
          <option value="febrero">Febrero</option>
          <option value="marzo">Marzo</option>
        </select>
      </div>
      <div class="selector grid-item medium last">
        <select name="select-year">
          <option value="enero" selected="">1900</option>
          <option value="febrero">2000</option>
          <option value="marzo">2010</option>
        </select>
      </div>
    </div>
    <div class="ausencia-fecha">
      <div class="selector grid-item small">
        <select name="select-day">
          <option value="1" selected="">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
        </select>
      </div>
      <div class="selector grid-item medium">
        <select name="select-month">
          <option value="enero" selected="">Enero</option>
          <option value="febrero">Febrero</option>
          <option value="marzo">Marzo</option>
        </select>
      </div>
      <div class="selector grid-item medium last">
        <select name="select-year">
          <option value="enero" selected="">1900</option>
          <option value="febrero">2000</option>
          <option value="marzo">2010</option>
        </select>
      </div>
    </div>
    <button class="boton bottom">Pedir Vacaciones</button>
  </div>
</div>

<div class="desk-one-third grid-item box ausencias">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon imprevisto"></i></div>
    <h3>Imprevistos</h3>
  </div>
  <div class="box-body texto-centrado">
    <div class="indicador-circular">
      <canvas id="imprevistos" width="114" height="114" porcentaje="40" class="progress"></canvas>
      <div class="icon icon-imprevistos"></div>
    </div>
    <p>2 Imprevistos Reportados</p>
    <textarea class="textarea"></textarea>
    <button class="boton bottom">Pedir Imprevisto</button>
  </div>
</div>
