<div class="desk-one-whole grid-item box">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon notificaciones"></i></div>
    <h3>Notificaciones</h3>
  </div>
  <div class="box-body">
    <table class="notificaciones">
      <thead>
        <tr>
          <th>Kamikaze</th>
          <th>Tipo</th>
          <th>Fechas</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Salvador Cortázar</td>
          <td><i class="icon home"></i></td>
          <td>01/2013</td>
          <td>Aprobada<i class="icon palomita"></i></td>
        </tr>
        <tr>
          <td>Salvador Cortázar</td>
          <td><i class="icon home"></i></td>
          <td>01/2013</td>
          <td>
            <button class="boton">Aprobar</button>
            <button class="boton">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
