<div class="desk-one-whole grid-item box full-box">
  <div class="box-header">
    <div class="span icon-cat"><i class="box-icon reglas"></i></div>
    <h3>Reglas del juego</h3>
  </div>
  <div class="box-body reglas">
    <div class="bloque">
      <p class="regla"><strong>Vacaciones</strong><i class="icon vacaciones"></i></p>
      <ul class="dots reglas-lista">
        <li>10 días a partir del primer año.</li>
        <li>Los primeros 10 días se tomarán en los primeros 2 años; a partir del 4to mes de trabajo se dispondrán de 2 días, posteriormente cada 2 meses se libera un día más.</li>
        <li>Una vez cumplidos los primeros dos años, se aumentan 2 días por cada año trabajado llegando a un tope de 18 días.</li>
      </ul>
    </div>
    <div class="bloque">
      <p class="regla"><strong>Home Office</strong><i class="icon home"></i></p>
      <ul class="dots reglas-lista">
        <li>6 días disponibles al semestre, 12 días disponibles al año.</li>
        <li>Debe pasar un mínimo de 10 días hábiles entre cada Home Office solicitado.</li>
        <li>Se debe estar conectado en el chat y al pendiente las 8 horas correspondientes.</li>
        <li>El Home Office no implica permisos especiales para acortar la jornada laboral</li>
        <li>Cualquier permiso extra deberá ser explicado en la solicitud.</li>
      </ul>
    </div>
  </div>
</div>
