{% extends "base.html" %}

{% load staticfiles %}

{% block styles_by_module %}
    <link rel="stylesheet" type="text/css" href=" {%  static  "directorio/css/directorioStyle.css" %} ">
{% endblock styles_by_module %}

{% block content %}
    <!-- <section ng-view /> -->

    {% if user and not user.is_anonymous %}
      <li>
        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
      </li>
      <li>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
      </li>

      <section ui-view />

    {% else %}
      <li>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
      </li>
    {% endif %}

{% endblock content %}

{% block scripts_by_module %}
    <script type="text/javascript" src=" {%  static  "directorio/js/config.js" %} "></script>
    <script type="text/javascript" src=" {%  static  "directorio/js/DirectorioAngularService.js" %} "></script>
    <script type="text/javascript" src=" {%  static  "directorio/js/DirectorioAngularController.js" %} "></script>
{% endblock scripts_by_module %}
