{% extends "base.html" %}

{% load staticfiles %}

{% block styles_by_module %}
    <link rel="stylesheet" type="text/css" href=" {%  static  "directorio/css/directorioStyle.css" %} ">
{% endblock styles_by_module %}

{% block content %}

    <section ui-view />

{% endblock content %}

{% block scripts_by_module %}
    <script type="text/javascript" src=" {%  static  "directorio/js/config.js" %} "></script>
    <script type="text/javascript" src=" {%  static  "directorio/js/DirectorioAngularService.js" %} "></script>
    <script type="text/javascript" src=" {%  static  "directorio/js/DirectorioAngularController.js" %} "></script>
{% endblock scripts_by_module %}
