{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="KLDashboardClient">
<head>
    <meta charset="UTF-8">
    <title>KamikazeLab | Dashboard</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico">

    <!-- Import Basic StyleSheets -->
    <link rel="stylesheet" type="text/css" href=" {%  static  "lib/normalize-css/normalize.css" %} ">
    <link rel="stylesheet" type="text/css" href=" {%  static  "css/style.css" %} ">
    <link rel="stylesheet" type="text/css" href=" {%  static  "css/bxslider.css" %} ">
    <link rel="stylesheet" type="text/css" href=" {%  static  "css/scrollbar.css" %} ">
    <!-- Import StyleSheets by Module -->
    {% block styles_by_module %}{% endblock styles_by_module %}
</head>
<body ng-controller="GeneralAngularController">

    <!-- Import Header Template -->
    {% if user and not user.is_anonymous %}
    <div class="header">
      <div class="contenedor">
        <div class="grid-item desk-one-half"><a title="Kamikaze Dashboard" href="#" class="logotipo"><img src=" {%  static "images/logo.png" %} " alt="Kamikaze Lab"></a></div>
        <div class="grid-item desk-one-half">

          <div class="perfil">
            <a href="{% url 'auth:logout' %}?next={{ request.path }}"><button class="boton">Cerrar sesión</button></a><img src="images/usuario.png" alt="{{ user.get_full_name|default:user.username }}" class="icon">
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    <!--NavBar-->
    {% if user and not user.is_anonymous %}
    <div class="desk-one-fifth nav"><span class="hov"></span>
      <div id="dashboard" class="nav-section">
        <h2><i class="nav-icon dashboard"></i><a href="/" class="nav-link">Dashboard<i class="notificacion">1</i></a></h2>
        <div class="sub-links"><a href="#dashboard" title="Dashboard 1">Dashboard 1 </a><a href="#dashboard" title="Dashboard 2">Dashboard 2</a><a href="#dashboard" title="Dashboard 3">Dashboard 3</a></div>
      </div>
      <div id="directorio" class="nav-section" ng-class="{true: 'active', false: ''}[activeItem == 'directorio']">
        <h2><i class="nav-icon directorio"></i><a href="/directorio" class="nav-link">Directorio</a></h2>
        <div class="sub-links"><a href="#directorio" title="Administrador">Administrador</a></div>
      </div>
      <div id="ausencias" class="nav-section">
        <h2><i class="nav-icon ausencias"></i><a href="#ausencias" class="nav-link">Ausencias</a></h2>
        <div class="sub-links"><a href="#ausencias" title="Ausencias 1">Ausencias 1</a><a href="#ausencias" title="Ausencias 2">Ausencias 2</a><a href="#ausencias" title="Ausencias 3">Ausencias 3</a><a href="#ausencias" title="Ausencias 3">Ausencias 4</a></div>
      </div>
      <div id="dojos" class="nav-section">
        <h2><i class="nav-icon conocimiento"></i><a href="#dojos" class="nav-link">Dojos</a></h2>
        <div class="sub-links"><a href="#conocimiento" title="Conocimiento 1">Conocimiento 1</a><a href="#conocimiento" title="Conocimiento 2">Conocimiento 2</a><a href="#conocimiento" title="Conocimiento 3">Conocimiento 3</a></div>
      </div>
      <div id="reclutamiento" class="nav-section">
        <h2><i class="nav-icon reclutamiento"></i><a href="#reclutamiento" class="nav-link">Reclutamiento</a></h2>
        <div class="sub-links"><a href="#reclutamiento" title="Reclutamiento 1">Reclutamiento 1</a><a href="#reclutamiento" title="Reclutamiento 2">Reclutamiento 2</a><a href="#reclutamiento" title="Reclutamiento 3">Reclutamiento 3</a><a href="#reclutamiento" title="Reclutamiento 1">Reclutamiento 4</a></div>
      </div>
      <div id="conocimiento" class="nav-section">
        <h2><i class="nav-icon conocimiento"></i><a href="#conocimiento" class="nav-link">Conocimiento</a></h2>
        <div class="sub-links"><a href="#conocimiento" title="Conocimiento 1">Conocimiento 1</a><a href="#conocimiento" title="Conocimiento 2">Conocimiento 2</a><a href="#conocimiento" title="Conocimiento 3">Conocimiento 3</a></div>
      </div>
      <div id="evaluacion" class="nav-section">
        <h2><i class="nav-icon evaluacion"></i><a href="#evaluacion" class="nav-link">Evaluación</a></h2>
        <div class="sub-links"><a href="#evaluacion" title="Evaluación 1">Evaluación 1</a><a href="#evaluacion" title="Evaluación 2">Evaluación 2</a><a href="#evaluacion" title="Evaluación 3">Evaluación 3</a></div>
      </div>
      <div id="servidores" class="nav-section">
        <h2><i class="nav-icon servidores"></i><a href="#servidores" class="nav-link">Servidores</a></h2>
        <div class="sub-links"><a href="#servidores" title="Servidores 1">Servidores 1</a><a href="#servidores" title="Servidores 2">Servidores 2</a><a href="#servidores" title="Servidores 3">Servidores 3</a></div>
      </div>
      <div id="fondo" class="nav-section">
        <h2><i class="nav-icon fondo"></i><a href="#fondo" class="nav-link">Fondo del saber</a></h2>
        <div class="sub-links"><a href="#fondo" title="Fondo del saber 1">Fondo del saber 1</a><a href="#fondo" title="Fondo del saber 2">Fondo del saber 2</a><a href="#fondo" title="Fondo del saber 3">Fondo del saber 3</a></div>
      </div>
    </div>
    {% endif %}


    <div class="contenedor principal">

        <!-- Main Content -->
        <div class="desk-one-whole grid-item contenido">

            {% block content %}{% endblock content %}

        </div><!-- End Main Content -->

    </div>

    <!-- Import JavaScript Files -->
    <!-- Modernizr Basic Files -->
    <script type="text/javascript" src=" {%  static "lib/modernizr/modernizr.js" %} "></script>
    <!-- JqueryJS Basic Files -->
    <script type="text/javascript" src=" {%  static "lib/jquery/dist/jquery.js" %} "></script>
    <!-- Scripts Plugins Files -->
    <script type="text/javascript" src=" {%  static "assets/progress-circle/progress-circle.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/jquery-mousewheel/jquery.mousewheel.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/jscrollpane/script/jquery.jscrollpane.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/bxslider-4/jquery.bxslider.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/momentjs/moment.js" %} "></script>
    <!-- AngularJS Basic Framework Files -->
    <script type="text/javascript" src=" {%  static "lib/angular/angular.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/angular-route/angular-route.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/angular-resource/angular-resource.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/angular-cookies/angular-cookies.js" %} "></script>
    <script type="text/javascript" src=" {%  static "lib/angular-ui-router/release/angular-ui-router.js" %} "></script>
    <!-- AngularJS Basic Configuration Files -->
    <script type="text/javascript" src=" {%  static "js/app.js" %} "></script>
    <script type="text/javascript" src=" {%  static "js/config.js" %} "></script>
    <script type="text/javascript" src=" {%  static "js/directives.js" %} "></script>
    <script type="text/javascript" src=" {%  static "js/filters.js" %} "></script>
    <script type="text/javascript" src=" {%  static "js/GeneralAngularService.js" %} "></script>
    <script type="text/javascript" src=" {%  static "js/GeneralAngularController.js" %} "></script>


    <!-- Import Scripts by Module -->
    {% block scripts_by_module %}{% endblock scripts_by_module %}
</body>
</html>
