{% load staticfiles %}

<div class="header">
  <div class="contenedor">
    <div class="grid-item desk-one-half portable-one-half tablet-one-half">
        <a title="Kamikaze Dashboard" href="#" class="logotipo">
            <img src=" {%  static "img/logo.png" %} " alt="Kamikaze Lab">
        </a>
    </div>
    <div class="grid-item desk-one-half portable-one-half tablet-one-half">
      <div class="perfil">
        <button class="boton">Cerrar sesión</button>
        <img src=" {% static "img/usuario.png" %} " alt="Marcela Ramírez" class="icon">
      </div>
    </div>
  </div>
</div>
