{% load staticfiles %}

<div class="desk-one-quarter portable-two-twelfths tablet-one-quarter nav grid-item">
    <span class="hov"></span>


    <!-- <div id="dashboard" class="nav-section">
        <h2>
            <i class="nav-icon dashboard"></i>
            <a href="/" class="nav-link">Dashboard<i class="notificacion">1</i></a>
        </h2>
        <div class="sub-links">
            <a href="#dashboard" title="Dashboard 1">Dashboard 1 </a>
            <a href="#dashboard" title="Dashboard 2">Dashboard 2</a>
            <a href="#dashboard" title="Dashboard 3">Dashboard 3</a>
        </div>
    </div> -->
    <div id="directorio" class="nav-section" ng-class="{true: 'activeMenu', false: ''}[activeItem == 'directorio']">
        <h2>
            <i class="nav-icon directorio"></i>
            <a href="/directorio" class="nav-link" ng-class="{true: 'active', false: ''}[activeItem == 'directorio']">Directorio</a>
        </h2>
    </div>

    <div id="ausencias" class="nav-section" ng-class="{true: 'activeMenu', false: ''}[activeItem == 'ausencias']">
        <h2>
            <i class="nav-icon ausencias"></i>
            <a href="/ausencias" class="nav-link" ng-class="{true: 'active', false: ''}[activeItem == 'ausencias']">Ausencias</a>
        </h2>
        <div class="sub-links">
            <a href="#!/route1" title="Ausencias 1">Ausencias 1</a>
            <a href="#!/route2" title="Ausencias 2">Ausencias 2</a>
            <a href="#!/route3" title="Ausencias 3">Ausencias 3</a></div>
    </div>

    <div id="servidores" class="nav-section" ng-class="{true: 'activeMenu', false: ''}[activeItem == 'servidores']">
        <h2>
            <i class="nav-icon servidores"></i>
            <a href="/servidores" class="nav-link" ng-class="{true: 'active', false: ''}[activeItem == 'servidores']">Servidores</a>
        </h2>
        <div class="sub-links">
            <a href="#!/route1" title="Servidores 1">Servidores 1</a>
            <a href="#!/route2" title="Servidores 2">Servidores 2</a>
            <a href="#!/route3" title="Servidores 3">Servidores 3</a>
        </div>
    </div>

    <div id="dojos" class="nav-section" ng-class="{true: 'activeMenu', false: ''}[activeItem == 'dojos']">
        <h2>
            <i class="nav-icon dojos"></i>
            <a href="/dojos" class="nav-link" ng-class="{true: 'active', false: ''}[activeItem == 'dojos']">Dojos</a>
        </h2>
        <div class="sub-links">
            <a href="#!/route1" title="Dojos 1">Dojos 1</a>
            <a href="#!/route2" title="Dojos 2">Dojos 2</a>
            <a href="#!/route3" title="Dojos 3">Dojos 3</a>
        </div>
    </div>


<!--     <div id="reclutamiento" class="nav-section">
        <h2>
            <i class="nav-icon reclutamiento"></i>
            <a href="#" class="nav-link">Reclutamiento</a>
        </h2>
        <div class="sub-links">
            <a href="#reclutamiento" title="Reclutamiento 1">Reclutamiento 1</a>
            <a href="#reclutamiento" title="Reclutamiento 2">Reclutamiento 2</a>
            <a href="#reclutamiento" title="Reclutamiento 3">Reclutamiento 3</a></div>
    </div> -->

<!--     <div id="conocimiento" class="nav-section">
        <h2>
            <i class="nav-icon conocimiento"></i>
            <a href="#" class="nav-link">Conocimiento</a>
        </h2>
        <div class="sub-links">
            <a href="#conocimiento" title="Conocimiento 1">Conocimiento 1</a>
            <a href="#conocimiento" title="Conocimiento 2">Conocimiento 2</a>
            <a href="#conocimiento" title="Conocimiento 3">Conocimiento 3</a>
        </div>
    </div> -->

<!--     <div id="evaluacion" class="nav-section">
        <h2>
            <i class="nav-icon evaluacion"></i>
            <a href="#" class="nav-link">Evaluación</a>
        </h2>
        <div class="sub-links">
            <a href="#evaluacion" title="Evaluación 1">Evaluación 1</a>
            <a href="#evaluacion" title="Evaluación 2">Evaluación 2</a>
            <a href="#evaluacion" title="Evaluación 3">Evaluación 3</a>
        </div>
    </div> -->


<!--     <div id="fondo" class="nav-section">
        <h2>
            <i class="nav-icon fondo"></i>
            <a href="#fondo" class="nav-link">Fondo del saber</a>
        </h2>
        <div class="sub-links">
            <a href="#fondo" title="Fondo del saber 1">Fondo del saber 1</a>
            <a href="#fondo" title="Fondo del saber 2">Fondo del saber 2</a>
            <a href="#fondo" title="Fondo del saber 3">Fondo del saber 3</a>
        </div>
    </div> -->
</div>