<seccion>
    <div class="desk-one-whole portable-one-whole table-one-whole grid-item box full-height">

        <div class="box-header">
            <div class="span icon-cat"><i class="box-icon admin"></i></div>
            <h3>Edición Kamikaze</h3>
        </div>

        <!-- box-body -->
        <div class="box-body">
            <form name="userForm" ng-submit="submitUsuario()" class="forma" style="margin-left: 35px; margin-top: 15px; margin-bottom: 15px;">
                <!-- contenedor-tabla -->
                <div class="contenedor-tabla">
                    <!-- contenedor-fila -->
                    <div class="contenedor-fila">

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                            <label>Imagen*
                                <input type="text" ng-model="person.avatar">
                            </label>
                            <img class="img-perfil" ng-src="../static/directorio/img/avatars/{[{person.avatar}]}">
                            <!-- <button type="button" class="boton file">Seleccionar archivo</button> -->
                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">

                            <label>Nombre*
                                <input type="text" ng-model="person.names" ng-maxlength="30" required class="form-input">
                            </label>
        
                            <label>Apellido Materno*
                                <input type="text" ng-model="person.maternal_surname" ng-maxlength="30" required class="form-input">
                            </label>

                            <p>Sexo*</p>
                            <label class="inline desk-one-third grid-item">Femenino
                                <input type="radio" name="gender" ng-model="person.gender" value="femenino">
                            </label>
                            <label class="inline desk-one-third grid-item">Masculino
                                <input type="radio" name="gender" ng-model="person.gender" value="masculino">
                            </label>

                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">

                            <label>Apellido Paterno*
                                <input type="text" ng-model="person.paternal_surname" ng-maxlength="30" required class="form-input">
                            </label>

                            <label>Fecha de Nacimiento*</label>

                            <div class="selector grid-item small">
                                <select name="birth_day" ng-model="birth_day"
                                    ng-options="d as d.label for d in days">
                                </select>
                            </div>
                            <div class="selector grid-item medium">
                                <select name="birth_month" ng-model="birth_month"
                                    ng-options="m as m.label for m in months">
                                </select>
                            </div>
                            <div class="selector medium">
                                <select name="birth_year" ng-model="birth_year"
                                    ng-options="y as y.label for y in years">
                                </select>
                            </div>

                            <label>Twitter
                                <input type="text" ng-model="person.twitter" ng-maxlength="50" class="form-input">
                            </label>

                            <label>Tel&eacute;fono*
                                <input type="text" ng-model="person.phone" ng-maxlength="50" required class="form-input">
                            </label>

                        </div><!-- / contenedor-columna -->
                    </div><!-- / contenedor-fila -->

                    <!-- contenedor-fila -->
                    <div class="contenedor-fila">
                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">

                            <label>Empresa*</label>
                            <div class="selector full">
                                <select name="company" ng-model="person.company">
                                    <option value="Laboratorio">Laboratorio</option>
                                    <option value="Incubadora">Incubadora</option>
                                    <option value="Tatami">Tatami</option>
                                </select>
                            </div>

                            <label>Correo*
                                <input type="email" ng-model="person.email" ng-maxlength="50" required class="form-input">
                            </label>

                            <label>ID Kamikaze*
                                <input type="text" ng-model="person.kamikaze_number" ng-maxlength="50" required class="form-input">
                            </label>

                            <label>Jefe Directo*
                                <input type="email" ng-model="person.boss" required class="form-input">
                            </label>

                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">

                            <label>Puesto*
                                <input type="text" ng-model="person.job" ng-maxlength="50" required class="form-input">
                            </label>

                            <label>Fecha de Ingreso*</label>
                            <div class="selector grid-item small">
                                <select name="entry_day" ng-model="entry_day"
                                    ng-options="d as d.label for d in days">
                                </select>
                            </div>
                            <div class="selector grid-item medium">
                                <select name="entry_month" ng-model="entry_month"
                                    ng-options="m as m.label for m in months">
                                </select>
                            </div>
                            <div class="selector medium">
                                <select name="entry_year" ng-model="entry_year"
                                    ng-options="y as y.label for y in years">
                                </select>
                            </div>

                            <p>Tiempo*</p>
                            <label class="inline desk-one-third grid-item">Completo
                                <input type="radio" name="job_time" ng-model="person.job_time" value="completo">
                            </label>
                            <label class="inline desk-one-third grid-item">Medio
                                <input type="radio" name="job_time" ng-model="person.job_time" value="medio">
                            </label>

                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">

                            <label>Area*
                                <input type="text" ng-model="person.area" ng-maxlength="50" required class="form-input">
                            </label>

                            <p>Estado*</p>
                            <label class="inline desk-one-third grid-item">Activo
                                <input type="radio" name="status" ng-model="person.status" value="activo">
                            </label>
                            <label class="inline desk-one-third grid-item">Inactivo
                                <input type="radio" name="status" ng-model="person.status" value="inactivo">
                            </label>

                        </div><!-- / contenedor-columna -->
                    </div><!-- / contenedor-fila -->

                    <!-- contenedor-fila -->
                    <div class="contenedor-fila">
                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                            <p> Campos requeridos * </p>
                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                            <button type="button" ng-click="cancelarUsuario()" class="boton cancelar"> Cancelar </button>
                            <button type="submit" class="submit boton"> Guardar </button>
                        </div><!-- / contenedor-columna -->
                    </div><!-- / contenedor-fila -->

                    <!-- contenedor-fila -->
                    <div class="contenedor-fila">
                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                            <label>Roles</label>
                            <div class="selector grid-item full">
                                <select name="roles" ng-model="selectRoles" ng-change="agregaRol()"
                                    ng-options="r as r.label for r in roles">
                                </select>
                            </div>
                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                        </div><!-- / contenedor-columna -->

                        <!-- contenedor-columna -->
                        <div class="contenedor-columna">
                        </div><!-- / contenedor-columna -->
                    </div><!-- / contenedor-fila -->
                </div><!-- / contenedor-tabla -->

                <!-- contenedor-tabla -->
                <div style="height: 500px;">
                    <div ng-repeat="rol in personRols">
                        <label>
                            {[{ rol.label }]}
                            <button type="button" ng-click="quitaRol( rol.value )">Quitar</button>
                        </label>
                        <div>
                            <label ng-repeat="perm in rol.permissions">
                                <input type="checkbox" name="{[{ rol.label }]}" value="{[{ perm.label }]}" ng-checked="{[{ perm.selected }]}" ng-click="asignaQuitaRol(rol.value,perm.id)">
                                {[{ perm.label }]}
                            </label>
                        </div>
                    </div>
                </div><!-- / contenedor-tabla -->


            </form>
        </div><!-- / box-body -->
    </div>
</section>